.wrapper{
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    background-color: aquamarine;
}
.divLogo{
    display: flex;
    justify-content: center;

}
.imgLogo{
    width:50%;
    margin-bottom: 5%;
}
.p{
    display: flex;
    justify-content: start;
    margin-left: 10%;
}
.divInput{
    display: flex;

}
.inputText{
    border-radius: 1rem;
    font-size: 1rem;
}
.divInput img {
width: 10%;
}