.wrapper{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(219, 106, 223);
    height: 20%;
    border-radius: 1rem;
}
.divLogo{
    display: flex;
    width: 50%;
    justify-content: center;

}
.imgLogo{
    width: 15%;
    transform: scale(.9);
    margin-bottom: 5%;
}
.p{
    margin-left: 10%;
    font-size: 1.2rem;
}
.divInput{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    height: 10%;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.inputText{
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    margin-left: 2%;
}
.divInput img {
width: 4%;
padding: 2%;
}
