@keyframes rotateLeft {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
.wrapper{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(46, 232, 32, 0.331);
    height: 20%;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0;
    align-items: center;
}
.divLogo{

    display: flex;
    width: 50%;
    justify-content: center;

}
.imgLogo{
    animation: rotateLeft 10s linear infinite;
    width: 20%;
    transform: scale(1.1);
}
.p{
    margin-left: 10%;
    font-size: 1.2rem;
}
.divInput{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    height: 10%;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.inputText{
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    margin-left: 2%;
}
.divInput img {
width: 4%;
padding: 2%;
}
.btn_activity{
    text-decoration: none;
    margin-right: 3%;
    padding-left: 4%;
    border-left: 1px solid #000;
    color: rgb(2, 14, 24);
}
.btn_activity p{
    font-size: 1.4rem;

}
.btn_activity p:hover{
    transform: scale(1.1);
}