@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
:root{
    background: rgb(67,231,199);
background: linear-gradient(0deg, rgba(67,231,199,1) 0%, rgba(19,197,147,1) 48%);
font-family: 'Heebo', sans-serif;
}