.wrapper{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.main{
    display: flex;
    width: 80%;
}

.regresar{
    position: absolute;
    left: 15%;
    top: 15%;
    width: 5%;
    padding: 2%;
    text-decoration: none;
    color: rgb(255, 255, 255);

    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1rem;
}
.regresar:hover{
    background-color: #722eb22c;
    transform: scale(1.1);
}
.regresar img{
    width: 80%;
}