.wrapper{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.main{
    display: flex;

    width: 100%;
}

.regresar{
    width: 15%;
    margin-left: 50%;
    text-decoration: none;
    color: black;

    display: flex;
    flex-flow: column;
    align-items: center;
}
.regresar:hover{
    transform: scale(1.1);
}
.regresar img{
    width: 80%;
}