.wrapper{
display: flex;
flex-flow: row wrap;
justify-content: center;
padding: 2%;
}
.formFilter{
    width:15%;
    border-radius: 1rem;
    border: none;
    margin: 1%;
}
.formFilter button{
    border-radius: 1rem;
    border: none;
    margin: 1%;
    
}
.formOrder{
    width: 15%;
    border-radius: 1rem;
    border: none;
    margin: 1%;
}
.formOrder button{
    border-radius: 1rem;
    border: none;
    margin: 1%;
}
.selectFilter {
    border-radius: 1rem;
    border: none;
}
.selectOrder{
    border-radius: 1rem;
    border: none;

}