.wrapper{
    min-height: 800px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.wrapper h1{
    font-size: 5rem;
    color: rgb(215, 39, 231);
}
.wrapper p{
    color: aliceblue;
    font-size: 2rem;
}
.btn_start_again{
    text-decoration: none;
    background-color: #c574ed;
    border-radius: 1rem;
    padding: 1%;
    box-shadow: 0 0 10px 0;
}
.btn_start_again:hover{
    transform: scale(1.1);
}